.left-menu{
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background: #383838;
    -webkit-transition: width 0.2s linear 0s;
    transition: width 0.2s linear 0s;
    z-index: 1000;
    border-right: 1px solid var(--primaryFon,#ECF3F5);
}
.footer-subj-notation, .section-content{
    padding-left: 300px;
}
.link-left-nav{
    padding: 18px 36px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
.topic{
    padding: 100px 60px;
    margin: 0px auto;
    width: 100%;
}
.catalog-math{
    position: relative;
    width: 100%;
    background: #282828;
    border-radius: 8px;
    padding: 40px;
}
.video{
    color: #FFFFFFE6;
    padding-right: 25%;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
}
.name-subject{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF99;
    margin-bottom: 15px;
}
.logo-left-nav{
    width: 100%;
    text-align: center;
    padding: 25px;
    overflow: hidden;
}
.link-left-nav:hover{
    background: #1f1f1f;
    color: var(--accent,#0399E9);
}